<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Exercise List</h1>
    {% for exercise in object_list %}
    <h2>{{ exercise.exercise_name }}</h2>
    <p>Description URL: <a href="{{ exercise.description_url }}">{{ exercise.description_url }}</a></p>
    <p>Exercise Image: <img src="{{ exercise.exercise_image }}" alt="{{ exercise.exercise_name }}"></p>
    <p>Exercise Image 1: <img src="{{ exercise.exercise_image1 }}" alt="{{ exercise.exercise_name }}"></p>
    <p>Muscle Group Details: {{ exercise.muscle_gp_details }}</p>
    <p>Muscle Group: {{ exercise.muscle_gp }}</p>
    <p>Equipment Details: {{ exercise.equipment_details }}</p>
    <p>Equipment: {{ exercise.equipment }}</p>
    <p>Rating: {{ exercise.rating }}</p>
    {% endfor %}
</body>

</html>