{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for exercise in exercise_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img src="{{ exercise.exercise_image }}" alt="{{ exercise.exercise_name }}" style="width: 100%; height: auto;">
                                <div class="image-flash">
                                    <p class="author">Exercise: {{ exercise.exercise_name }}</p>
                                </div>
                            </div>
                            <a href="#" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
<!-- 
    <h1>This is the Excersise List Template</h1>
    {% for exercise in object_list %}
    <h2>{{ exercise.exercise_name }}</h2>
    <p>Description URL: <a href="{{ exercise.description_url }}">{{ exercise.description_url }}</a></p>
    <p>Exercise Image: <img src="{{ exercise.exercise_image }}" alt="{{ exercise.exercise_name }}"></p>
    <p>Exercise Image 1: <img src="{{ exercise.exercise_image1 }}" alt="{{ exercise.exercise_name }}"></p>
    <p>Muscle Group Details: {{ exercise.muscle_gp_details }}</p>
    <p>Muscle Group: {{ exercise.muscle_gp }}</p>
    <p>Equipment Details: {{ exercise.equipment_details }}</p>
    <p>Equipment: {{ exercise.equipment }}</p>
    <p>Rating: {{ exercise.rating }}</p>
    {% endfor %} -->




    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}